.panel {
    height: 100dvh;
    scroll-snap-align: start;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.blob {
    position: absolute;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.9;
}
.blob--black{
    position: absolute;
    width: 15vw;
    height: 15vw;
    background: var(--color-bg);
    top: 48%;
    right: 29%;
}

.blob--yellow {
    background: radial-gradient(circle, var(--color-yellow-accent), var(--color-bg));
    top: 40%;
    right: 10%;
    animation: blobRotateYellow 2s ease-in-out infinite alternate;
}

.blob--green {
    background: radial-gradient(circle,var(--color-green), var(--color-bg));
    top: 25%;
    right: 20%;
    animation: blobRotateGreen 2s ease-in-out infinite alternate;
}

@keyframes blobRotateYellow {
    from { transform: translate(1vw, 0vh); }
    to   { transform: translate(-10vw, -8vh); }
}

@keyframes blobRotateGreen {
    from { transform: translate(-1vw, -0vh); }
    to   { transform: translate(10vw, 8vh); }
}

.hero-content {
    position: absolute;
    top: -10%;
    left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    h1 {
            font-family: 'Comfortaa', sans-serif;
            color: var(--color-yellow);
            font-size: 5rem;
            text-shadow: 0 0 20px var(--color-yellow-accent);
            animation: fadeup 0.5s ease-out;
            animation-fill-mode: both;
            animation-delay: 0.2s;
            font-weight: 700;
        }
    p {
        font-family: "Fira Sans", sans-serif;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.25rem;
        max-width: 700px;
        line-height: 1.5;
        margin-top: 3rem;
        animation: fadeup 0.5s ease-out;
        animation-fill-mode: both;
        animation-delay: 0.4s;
    }
}
@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.terminal {
    margin-top: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-green);
    font-size: 1rem;
    white-space: pre;
    text-align: left;
    font-size: 3rem;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 3.2rem;
    background-color: var(--color-green);
    vertical-align: text-bottom;
    animation: blink 1s step-end infinite;
    font-size: 3rem;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.infolinks {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    animation: fadeup 0.5s ease-out;
    animation-fill-mode: both;
    animation-delay: 0.6s;
}

.contact-link button,
.about-link button {
    padding: 0.25rem 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    border: 2px solid var(--color-yellow);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 8px;
}

.contact-link button {
    background: var(--color-yellow);
    color: var(--color-bg);
}

.about-link button {
    background: transparent;
    color: var(--color-yellow);
}
.contact-link button:hover,
.about-link button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--color-yellow);
}


